<div class="row">
  <div class="card col offset-s4 s4">
    <div class="card-content" (keypress)=onKeypress($event)>
      <span class="card-title">Login card</span>

      <div class="input-field">
        <input id="username" type="text" [(ngModel)]=user.username>
        <label for="username">Username</label>
      </div>

      <div class="input-field">
        <input id="password" type="password" [(ngModel)]=user.password>
        <label for="password">Password</label>
      </div>

      <div class="input-field">
        <button (click)=onLogin() class="btn waves-effect waves-light">Login
        </button>
      </div>
    </div>
  </div>
</div>
